@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Megrim&family=Poppins:wght@400;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .9);
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

.title {
    margin-left: 2%;
}

.logo {
    background: #007CED;
    padding: 0px 10px 0px 10px;
    border-radius: 50px;
    color: #FFFFFF;
    font-family: 'Megrim', cursive;
    font-size: 35px;
    font-weight: 900;
}

.part1 {
    color: #FFFFFF;
    font-family: 'Megrim', cursive;
    font-size: 40px;
    font-weight: 900;
}

.part2 {
    color: #FFFFFF;
    font-family: 'Megrim', cursive;
    font-size: 35px;
    font-weight: 500;
}

.menu {
    display: none;
}

.menu-line {
    width: 25px;
    height: 3px;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-bottom: 4px;
}

.navbar-links ul {
    display: flex;
}

.navbar-links li {
    list-style-type: none;
}

.navbar-links a {
    display: block;
    padding: 1.5em;
    font-size: large;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.25s ease-in, background-color 0.25s ease-in;
}

.navbar-links a:hover {
    color: #007CED;
    background-color: #2b2b2b;
}

hr {
    border-color: #444444;
}

section {
    margin-top: auto;
    margin: 4em 0 4em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo img {
    width: 250px;
    border-radius: 50%;
    border: 8px outset #444444;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
    margin: 0 7vw 0 7vw;
}

.about-me {
    margin-right: 7vw;
}

.name {
    font-family: Caveat;
    font-size: 40px;
}

.profession {
    color: #007CED;
    font-size: larger;
}

.summary {
    margin-top: 0.5em;
    word-spacing: 0.1em;
}

.link {
    margin: 1.5em 0 3em 0;
}

.nav1,
.nav2 {
    color: #FFFFFF;
    text-decoration: none;
    border: 2px solid #007CED;
    border-radius: 50px;
    padding: 0.7em 1em;
    transition: background-color 0.3s ease-in;
}

.nav1:hover,
.nav2:hover {
    background-color: #007CED;
}

.iq-test {
    display: flex;
    justify-content: space-around;
}

.iq {
    border-radius: 25px;
}

footer {
    margin-top: auto;
}

.foot-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 1em 0.5em 1.5em;
}

.social-media a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    margin: 1em;
    transition: color 0.3s ease-in;
}

.social-media a:hover {
    color: #007CED;
}

.copyright {
    font-size: 14px;
    color: #999999;
}

.copyright a {
    color: #999999;
}

@media all and (max-width: 795px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .title {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .menu {
        display: block;
        position: absolute;
        top: 22px;
        right: 15px;
    }

    .navbar-links {
        display: none;
        width: 100%;
        background-color: #333333;
    }

    .navbar-links ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .navbar-links a {
        padding: 0.5em;
    }

    .navbar-links.active {
        display: flex;
    }

    section {
        flex-direction: column;
    }

    .about-me {
        margin: 1.5em 1em 0 1em;
    }

    .foot-content {
        display: block;
        margin: 0.5em 0 0.5em 0;
    }

    .social-media {
        text-align: center;
        margin-bottom: 1em;
    }

    .copyright {
        text-align: center;
    }
}
